# Strings

## String Data Type

In [ ]:
str1 = "Hello"
str2 = 'there'
bob = str1 + str2
print(bob)

In [ ]:
str3 = '123'
str3 = str3 + 1

In [ ]:
x = int(str3) + 1
print(x)

In [ ]:
str4 = '123'
str4 = str3 + '1'
print(str4)

## Reading and Converting

In [ ]:
name = input('Enter:')
# Enter:Chuck
print(name)

In [ ]:
apple = input('Enter:')
# Enter:100
x = apple - 10

In [ ]:
x = int(apple) - 10
print(x)

## Looking Inside Strings

In [ ]:
fruit = 'banana'
letter = fruit[0]
print(letter)

In [ ]:
x = 3
w = fruit[x - 1]
print(w)

In [ ]:
print(fruit[2.5])

## A Character Too Far

In [ ]:
zot = 'abc'
print(zot[5])

## Strings Have Length

In [ ]:
fruit = 'bana _@#$na'
print(len(fruit))

## len Function

In [ ]:
fruit = 'banana'
x = len(fruit)
print(x)

## Looping Through Strings

In [ ]:
fruit = 'banana'
index = 0
while index < len(fruit): 
    letter = fruit[index]
    print(index, letter)
    index = index + 1

In [ ]:
fruit = 'banana'
for letter in fruit: 
    print(letter)

In [ ]:
fruit = 'banana'
for b in fruit: 
    print(b)

## Looping and Counting

In [ ]:
word = 'banana'
count = 0
for a in word :
    if a == '$' : 
       count = count + 1
print(count)

## Looking Deeper into in

In [ ]:
for letter in 'banana _$#@' :
    print(letter)

In [ ]:
for a in 'banana' :
    print(a)

# More String Operations

## Slicing Strings

In [ ]:
s = 'Monty Python'
print(s[0:4])

In [ ]:
print(s[6:7])

In [ ]:
print(s[6:20])

In [ ]:
print(s[18:20])

In [ ]:
s = 'Monty Python'
print(s[:2])

In [ ]:
print(s[8:])

In [ ]:
print(s[:])

## String Concatenation

In [ ]:
a = 'Hello'
b = a + 'There'
print(b)

In [ ]:
c = a + ' ' + 'There'
print(c)

## Using in as a Logical Operator

In [ ]:
fruit = 'banana'
'n' in fruit

In [ ]:
'm' in fruit

In [ ]:
'nan' in fruit

In [ ]:
if 'a' in fruit :
    print('Found it!')

## String Comparison

In [ ]:
'Z' < 'a'

In [ ]:
# word = 'apple'
word = 'Apple'
# word = 'orange'
# word = 'Oanana'

if word == 'banana':
    print('All right, bananas.')

if word < 'banana':
    print('Your word,' + word + ', comes before banana.')
elif word > 'banana':
    print('Your word,' + word + ', comes after banana.')
else:
    print('All right, bananas.')

## String Library

In [ ]:
greet = 'Hello Bob'
zap = greet.lower()
print(zap)

In [ ]:
print(greet)

In [ ]:
print('Hi There'.lower())

In [ ]:
stuff = 'Hello world'
type(stuff)

In [ ]:
# Python built-in function dir
# Without arguments, return the list of names in the current local scope. 
# With an argument, attempt to return a list of valid attributes for that object.
dir(stuff)

## Searching a String

In [ ]:
fruit = 'banana'
pos = fruit.find('na')
print(pos)

In [ ]:
aa = fruit.find('z')
print(aa)

## Making everything UPPER CASE

In [ ]:
greet = 'Hello Bob'
nnn = greet.upper()
print(nnn)

In [ ]:
www = greet.lower()
print(www)

## Search and Replace

In [ ]:
greet = 'Hello Bob'
nstr = greet.replace('Bob','Jane')
print(nstr)

In [ ]:
nstr = greet.replace('o','X')
print(nstr)

In [ ]:
a = "abc"
b = a.replace("a", "f")
print(a)
print(b)

## Stripping Whitespace

In [ ]:
greet = '   Hello Bob  '
greet.lstrip()

In [ ]:
greet.rstrip()

In [ ]:
greet.strip()

## Prefixes

In [ ]:
line = 'Please have a nice day'
line.startswith('Please')

In [ ]:
line.startswith('p')

## Parsing and Extracting

In [ ]:
data = 'From stephen.marquard@uct.ac.za Sat Jan  5 09:14:16 2008'
atpos = data.find('@')
print(atpos)

In [ ]:
sppos = data.find(' ',atpos)
print(sppos)

In [ ]:
host = data[atpos+1 : sppos]
print(host)

## Exercise 1
Write code using find() and string slicing to extract the number at the end of the line below. Convert the 
extracted value to a floating point number and print it out.

text = "X-DSPAM-Confidence:    0.8475“

Desired Output: 0.8475

In [ ]:
text = "X-DSPAM-Confidence:   0.8475"
colon_pos = text.find(":")
#print(colon_pos)
subtext = text[colon_pos+1:]
the_value = float(subtext.strip())
print(the_value)

## Exercise 2
Write code using split() and string slicing to count how many word “the” in a text and print it out.

text = "I am honored to serve as president of California State University, Fullerton, the largest institution in 
the CSU and one of the most transformative universities in the country. Home to more than 40,000 students — the 
majority of whom are the first in their family to attend college — and the alma mater to nearly 300,000 graduates, 
Cal State Fullerton is consistently ranked among the top public universities in the nation for both its strength 
of diversity and academic excellence.“

Desired Output: 9

In [ ]:
## adding a ' \ ' in between the lines of code you need to split.
text = "I am honored to serve as president of California State University, Fullerton, the largest institution\
in the CSU and one of the most transformative universities in the country. Home to more than 40,000\
students — the majority of whom are the first in their family to attend college — and the alma mater to nearly\
300,000 graduates, Cal State Fullerton is consistently ranked among the top public universities in the nation\
for both its strength of diversity and academic excellence." 

words = text.split()
# print(words)

count = 0
for a in words :
    if a == "the" :
        count = count + 1
        
print(count)